<header> 
  <div class="logo-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 logo-main">
                  <a href="#"><img src="images/logo.png" alt=""></a>
              </div>
              
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 headr-right">
                <div class="right-toparea">
                  <select id="" class="selectpicker">
                      <option>€ EUR</option>
                  </select>
                  <select class="selectpicker">
          <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
          <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
        </select>
        
        <a href="#" class="account-btn">Account</a>
        <a href="#" class="organize-btn">Organizer</a>
                </div>
                
                <nav class="navbar navbar-default navbar-static-top pull-right" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="bluetxt"><a href="#">Flights</a></li>
                            <li><a href="#">Car Rental</a></li>
                            <li><a href="#">Hotels</a></li>
                            <li><a href="#">Bus</a></li>
                            <li><a href="#">Train</a></li>
                            <li><a href="#">Car</a></li>
                            <li><a href="#">Hostel</a></li>
                            <li><a href="#">Blog</a></li>
                            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Travel Packages</a>
                              <ul class="dropdown-menu">
                    <li><a href="#">Offers And Deals</a></li>
                    <li><a href="#">Destination</a></li>
                  </ul>
                </li>
                            
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
                  
              </div>
          </div>
    </div>
  </div>
</header>
