<section class="footer-upper-section pull-left">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-12 f-n-blk">
        <ul>
          <li><a href="#">Flights</a></li>
          <li><a href="#">Hotels</a></li>
          <li><a href="#">Bus</a></li>
          <li><a href="#">Car</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Things To Do</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12 f-n-blk">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Site map</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 f-mid-blk">
        <h4>Contact Us</h4>
        <div class="row">
          <div class="col-md-5 col-sm-5 col-xs-12 ph-arae">
            <span class="smtxt">Argentina</span>
            1-800 332 5214<br>
            <span class="hrs">24H</span>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-12 ph-dividr no-padding">
            <img src="images/footer-clock.jpg" alt="" />
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 ph-arae">
            <span class="smtxt">Other locations:</span>
            37750 236 9955<br>
            <span class="hrs">24H</span>
          </div>
          <div class="col-xs-12 emailarea">
            <img src="images/envelope.png" alt="" /> <a href="#">info-lowcost@gmail.com</a>
          </div>
          <div class="col-xs-12 emailarea">
            <img src="images/question-icon.png" alt="" /> <a href="#">Help</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-sm-4 col-xs-12 f-mid-blk f-lst-blk">
        <h4>International Sites</h4>
        <ul>
          <li><img src="images/footer-flag1.jpg" alt="" />Cheap flights</li>
          <li><img src="images/footer-flag2.jpg" alt="" />India - Flight tickets</li>
          <li><img src="images/footer-flag3.jpg" alt="" />Mexico - flights</li>
          <li><img src="images/footer-flag4.jpg" alt="" />Singapore - flights</li>
          <li><img src="images/footer-flag5.jpg" alt="" />USA - flights</li>
        </ul>
        <ul>
          <li><img src="images/footer-flag6.jpg" alt="" />Australia - flights</li>
          <li><img src="images/footer-flag4.jpg" alt="" />Japan - Flight tickets</li>
          <li><img src="images/footer-flag8.jpg" alt="" />South Korea - Flights</li>
          <li><img src="images/footer-flag9.jpg" alt="" />Vietnam - flights</li>
          <li><a href="#">Next ></a></li>
        </ul>
      </div>	
    </div>
  </div>
</section>		

<footer>
  Copyright &copy 2018 Lowcost.com . All right reserved.
</footer>
