<app-header></app-header>
<div id="page-wrapper">
<section class="mid-sec-one mid-sec-one-flight pull-left">
  <div class="container">
    
      <div class="flight-blok">
        <label>Flying From</label>
            <select id="" class="selectpicker">
            <option>Boston (BOS)</option>
        </select>
      </div>
      <div class="flight-blok">
        <label>To</label>
            <select id="" class="selectpicker">
            <option>Paris (PAR)</option>
        </select>
      </div>
      <div class="flight-blok1">
        <label>Date From</label>
          <input value="DD-MM-yy" id="dp1" type="text" class="datepicker"  data-date-format="dd-mm-yy">
      </div>
      <div class="flight-blok1">
        <label>Date To</label>
          <input value="DD-MM-yy" id="dp1" type="text" class="datepicker"  data-date-format="dd-mm-yy">
      </div>
      <div class="flight-blok2">
            <label>Adult</label>
            <select id="" class="selectpicker">
            <option>3</option>
        </select>
          </div>
          <div class="flight-blok1">
            <label>Class</label>
            <select id="" class="selectpicker">
            <option>Economy Premium</option>
        </select>
          </div>
          <div class="flight-blok3">
            <label>Payment Type Offer</label>
            <!--<select id="" class="selectpicker no">
            <option>Credit Card</option>
        </select>-->
        <div class="flight-search-payment-type">
          Credit Card
          
          <div class="all-payment-types">
            <ul class="nav nav-tabs all-payment-types-tabs">
                <li class="active"><a data-toggle="tab" href="#CreditCard">Credit Card</a></li>
                <li><a data-toggle="tab" href="#Bank">Bank</a></li>
                <li><a data-toggle="tab" href="#Cuotas">Cuotas</a></li>
              </ul>
              
              <div class="tab-content all-payment-types-content">
                <div id="CreditCard" class="tab-pane fade in active">
                  <div class="row">
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        Visa
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        Visa
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        MasterCard
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        MasterCard
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        American
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        American
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        Express
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        Express
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        Discover
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        Discover
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        Citibank
                      </span>
                    </label>
                      </div>
                      <div class="col-sm-6 col-xs-6">
                        <label>
                      <input name="" type="checkbox"> 
                      <span class="label-text">
                        Citibank
                      </span>
                    </label>
                      </div>
                  </div>
                </div>
                <div id="Bank" class="tab-pane fade">
                  <p>Content Comes Here</p>
                </div>
                <div id="Cuotas" class="tab-pane fade">
                  <p>Content Comes Here</p>
                </div>
              </div>
          </div>
        </div>
        
        
        
          </div>
          <div class="flight-blok">
            <input type="button" value="Search" />
          </div>
    
  </div>
</section>
</div>
<app-footer></app-footer>